* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;

  font-size: 56px;
}

h2 {
  margin: 0;

  font-size: 38px;
}

p {
  margin: 0;

  font-size: 14px;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;

  background-color: #000;
}

.header-logo {
  padding: 15px 30px 0 30px;

  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 24px;
}

/* NAVIGATION */

.main-nav {
  padding: 15px 30px;

  display: flex;
  justify-content: center;

  background-color: #d7d7d7;
}

.nav-list {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: space-around;

  list-style-type: none;
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

/* MAIN */
/* HERO - welcome */

.main-wrapper {
  padding: 60px 80px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  justify-content: center;
}

.welcome > img {
  max-width: 750px;
  height: auto;
}

.welcome-text {
  padding-left: 40px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-text > p {
  padding: 10px 0 50px 0;

  font-size: 18px
}

.buy-now-btn {
  padding: 10px 40px;

  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
}

/* HERO - healthy-salmon */

.healthy-salmon {
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.healthy-salmon > h2 {
  max-width: 45vw;

  text-align: center;
}

.healthy-salmon-content {
  padding-top: 60px;

  display: flex;
}

.healthy-salmon-content > img {
  max-width: 580px;
  height: auto;
}

.healthy-salmon-text {
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.healthy-salmon-text > p {
  padding-top: 20px;

  font-size: 18px;
  text-align: center;
}

.learn-more-btn {
  margin-top: 60px;
  padding: 10px 40px;

  display: inline-block;

  background-color: #fff;
  color: #000;
  border-radius: 20px;
  border: 2px solid #000;
}